.loader {
    width: 100%;
    display: grid;
    place-content: center;
}

.wheel {
    width: 80px;
    height: 80px;
    border-radius: 100%;
    border: dotted 5px black;
    animation: spin 2s infinite forwards ease-out .5s;
}

@keyframes spin {
    from {
        transform: rotateZ(0deg);
    }

    to {
        transform: rotateZ(360deg);
    }
}