.grid {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    place-content: center;
    gap: 1rem;
}

.flex {
    border: solid black 1px;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}


p {
    text-align: left;
    font-family: sans-serif;
    margin-block: .5rem;
    font-style: italic;
    text-decoration: underline;
}

@media screen and (max-width:720px) {
    .grid {
        grid-template-columns: auto;
    }
}